:root {
    --primary-color: #FACC15;
    --background-color: #141415;
    --text-color: #ffffff7a;
    --title-color: #ffffff;
    --title-color-two: #ffffffbe;
    --font-family: "Spinnaker", sans-serif;
    --card-background-color: #1e1e1e;
    --input-color: #2e2e2e;
}

html.light-mode {
    --background-color: #f5f5f5;
    --title-color: #000;
    --text-color: #333;
    --title-color-two: #000000be;
    --card-background-color: #fff;
    --input-color: #fff;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.centered-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.centered-content::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    width: 2px;
    background-color: transparent; /* Change to transparent to remove the line */
}

.title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--title-color);
}

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    padding-left: 0;
}

li {
    background-color: var(--card-background-color);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: var(--primary-color) solid 1px;
}

li:hover {
    background-color: var(--input-color);
}

li::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: transparent; /* Change to transparent to remove the line */
}

li::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 20px;
    width: 10px;
    height: 10px;
    background-color: transparent; /* Change to transparent to remove the dots */
    border-radius: 50%;
}

.date {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}
